	* {
	  padding: 0;
	  margin: 0;	  

	  box-sizing:border-box;
	}

	body {
	  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  color: #333;

	  box-sizing: border-box;
	  font-size: 96%;
	}


/*
Navbar
*/
	
	nav#nav-dflt{
		margin: 0 auto;
		z-index: 100;
	}
	nav#nav-dflt ul,#nav-dflt ul li{
		width: 100%;
		margin: 0 auto;
		text-align: center
	}
	#nav-dflt ul li a{
		margin-left: -15px;
		font-family: "Monotype Corsiva";
		font-size: 27px
	}
	div nav ul li{
		display: inline-block;
	}
	div nav ul li a{
		color:white;
		text-decoration: none;
		cursor: pointer;
	}

	div nav,nav#nav-dflt{
		width: 100%;
		background-color: #840001;
		padding: 7px 0px 7px 0px;

	    position: fixed; /* Set the navbar to fixed position */
	    top: 0; /* Position the navbar at the top of the page */
	    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	div nav ul {
		width: 100%;
		margin: 0 auto;
	}
	div nav ul li{
		background-color: #840001;
		color:white;
	}
	ul li{
		list-style: none;
	}
	li{
		/*padding: 5px;*/
	}


	img#bnner-prncpl{
	  padding-top: 45px;
	  text-align: center;
	  margin: 0 auto;

	  background-color: #840000;
	  width: 100%;
	  max-width: 100%;
	}

	aside {
	  float: left;
	  overflow: hidden;

	  position: relative;
	}

	aside div#current-src {
	  top: 0;
	  right: 0;
	  position: absolute;
	  float: right;

	  font-size: .8em;
	  color: #fff;
	  background: #000;
	  opacity: .7;
	  padding: 12px 15px;
	}


/*
Mensagem botton
*/
.icondown{
  transform : rotate(180deg);
  -moz-transform : rotate(180deg); /* Firefox */
  -webkit-transform : rotate(180deg); /* Chrome - Safari */
  -o-transform : rotate(180deg); /* Opera */
}
#buttoninfo{
	color:white;
	padding-bottom: 5px;
}
.buttonfloatbottom{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 7px 25px 7px 25px;
    overflow: hidden;
    background-color: dodgerblue;
    position: fixed;
    bottom: 0;
    right: 10px;
    cursor:pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15), 0 3px 1px -2px rgba(0, 0, 0, .20), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 3px 3px 0px 0px;
}
.buttonfloatbottom a{
  color:white;
  margin-bottom:-3px; 
  right:0; 
  margin-left:0px;
}
#info {
    margin: 0;
    
    overflow: hidden;
    
    position: fixed;
    bottom: 0;
    right: 10px;
  
    height: 320px;
    width:270px;
    
    background-color: white;
    border: solid 1px hsla(207, 90%, 54%, 0.5)
    color:grey;
    text-align: left;
    
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15), 0 3px 1px -2px rgba(0, 0, 0, .20), 0 1px 5px 0 rgba(0, 0, 0, .12);
  
    display: none;
}
.cabezainfo{
  background-color: dodgerblue; 
  color:white; 
  padding: 10px 15px 10px 15px; 
  width:100%;
  cursor:pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15), 0 3px 1px -2px rgba(0, 0, 0, .20), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


/*
 *  STYLE scrooll
 */
.scrollbar
{
	float: left;
	background: transparent;
	overflow-y: scroll;
}
#style-3::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px transparent;*/
	background-color: transparent;
	border-radius: 5px;
	/*background-color: transparent;*/
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
	border-radius: 5px;
	/*background-color: transparent;*/
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #840000;
	border-radius: 5px;
	/*background-color: transparent;*/
}
/*
 *  END STYLE scrooll
 */




/**
* GRID kupi2
*/

  .container{
    /*width: 800px;*/
    width: 70%;
    margin: auto;
  }
  .navprincipal{
    background-color: dodgerblue;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0
  }
  .container-fluid{
    padding: 20px;
    margin:0;
  }
  .row:after{
    content: " ";
    display: block;
    clear: both;
  }
  [class*="col-"]{
    float: left;
    /*padding-right: 15px;
    padding: 15px;*/
  }
  [class*="col-"]:last-of-type{
    padding-right: 0;
  }
  .col-1{width: 8.33%}
  .col-2{width: 16.66%}
  .col-3{width: 25%}
  .col-4{width: 33.33%}
  .col-5{width: 41.66%}
  .col-6{width: 50%}
  .col-7{width: 58.33%}
  .col-8{width: 66.66%}
  .col-9{width: 75%}
  .col-10{width: 83.33%}
  .col-11{width: 91.66%}
  .col-12{width: 100%}
  .panel{
    padding: 10px;
    margin-top:10px;
    background-color: #ddd;
    border:1px solid #ccc;
  }
  @media screen and (max-width: 420px){
    .container, .container-fluid{
      width: 100%;
    }
    [class*="col-"]{
      width: 100%;
      padding-right: 0;
      float: none;
    }
  }
  @media screen and (max-width: 800px){
    .container, .container-fluid{
      width: 100%;
    }
  }

/**
* END GRID kupi2
*/


/*
 *CARD producto
 */

@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/
 
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
	font-size: 62.5%;
}
body {
	background-color: #eee;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #666;
}

a {
	text-decoration: none;
	color: #3498db;
}
	a:hover {
		color: #2980b9;
	}

h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
}

.wrapper {
	max-width: 400px;
	/*margin: 50px auto;*/
	margin: 10px auto;
	padding-left: 1em;
	padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius { 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
}

.card__padding {
	padding: 1.6rem;
}
 
.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card__content {
	position: relative;
}

/* card meta */
.card__meta time {
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article{
	font-family: 14px;
}
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.card__article a:hover {
		color: #2980b9;
	}

/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}
	 
.card__author {}

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
	}

	.card__author img{
		border-radius: 50%;
		margin-right: 0.6em;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.card__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.facebook {
	background-color: #3b5998; 
}
.twitter {
	background-color: #00abe3; 
}
.googleplus {
	background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
	color: #fff;
}

	.facebook:hover,
	.twitter:hover,
	.googleplus:hover {
		color: #eee;
	}


 /*
 *END CARD producto
 */


 /*
  * BUTTON Detalles
  */


button {
	position:relative;
	border:0;
	margin:0;
	padding:0;
	cursor:pointer;
	font-size:1.2rem;
	font-weight:bold;
	color:rgba(0,0,0,0);
	background:transparent;
	border-radius:.25rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

button,
button:after,
button:before {
	padding:.6875rem 2rem;
	-webkit-transition:-webkit-transform 0.75s,background-color .125s;
	-moz-transition:-moz-transform 0.75s,background-color .125s;
	-ms-transition:-ms-transform 0.75s,background-color .125s;
	transition:transform 0.75s,background-color .125s;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

button:after,
button:before {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:.25rem;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;

}

button:before {
	z-index:2;
	color:#fff;
	background-color:#03A9F4;
	content:attr(data-label);
}

button:after {
	z-index:1;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
	content:'';
}

button:active:before {
	background-color:#3571c8;
}

button.loading {
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
}

 /* 
  * END Button Detalles
 */